@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap');

:root {
    --primary-color: #60A5FA;
}

body {
    font-family: 'Merriweather', serif;
}

hr {
    margin: 2rem 0rem;

}

/* container */
.container {

    padding: 0rem 1rem;
}

.container-centre {

    max-width: 600px;
    margin: auto;

}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* ben convention in css */
/* lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}


.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active{
    font-weight: bold;
}
