@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap');

:root {
    --primary-color: #60A5FA;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0rem;
}

hr {
    margin: 2rem 0rem;

}

/* container */
.container {

    padding: 0rem 1rem;
}

.container-center {

    max-width: 600px;
    margin: auto;
    padding-bottom: 3rem;


}

/** links **/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;


    /* margin-top: 1rem;
    margin-bottom: 1rem; */

}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-primary:hover {
    color: var(--primary-color);
    background-color: white;
}



.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-secondary:hover {
    color: white;
    background-color: var(--primary-color);
}

/* ben convention in css */
/* lists */

.list-non-bullet {
    list-style: none;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;


}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;

}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;

}


.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;


}

.navigation .link-active {
    font-weight: bold;
    background-color: #111827;

}

/* header */
.hero {
    padding: 2rem;
    text-align: center;
    padding-top: 3rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;



}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    padding: 4rem;
}

.section {
    text-align: center
}

.ow {
    background-color: var(--off-white);
}

/* footer */
.footer {
    background-color: #374151;
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;


}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.fa-twitter-square {
    color: #00acee;


}

.fa-github-square {

    color: #211F1F;


}

.fa-linkedin {
    color: #0077b5;
}

@media screen and (min-width:360px) {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .hero .hero-img {
        max-width: 300px;
    }

}